body {
    display:flex;
    justify-content: center;
    align-items: center;
    margin:50px auto;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    }

h1 {
    text-align: center;
    font-size: 40px;
}

table {
    text-align: center; 
}

.add-task-button {
  background-color: #4CAF50;
  border: none;
  margin-top: 0.23em;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

button {
    background-color: #4CAF50;
    border: none;
    margin-top: 0.23em;
    margin: 3px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
